BODY {font-size:12px; font-family:Verdana,Arial,sans-serif;}
TABLE {font-size:12px; font-family:Verdana,Arial,sans-serif;}
UL {margin-top:4px; margin-bottom:4px;}

.iframeBody {margin-bottom: 50px; padding: 3px;}

.bTable {
  border:2px solid #999999;
  padding: 0px; 
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.bHeader1 {font-size:16px; background:#AAAAAA; white-space:nowrap; font-weight:bold;}

.bHeader2 {font-size:14px; background:#BBBBBB; padding-left:5; font-weight:bold;}

.bLabel {background:#D0D0D0; white-space:nowrap; padding-left:20; padding-right:20;}

.bCelHead {background:#DDDDDD; }

.bCelField {background:#EEEEEE; }

.bBottom {background:#DDDDDD; padding-top: 20;}
